$w : white;

@mixin part2a {
  color: $w;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

@mixin part2p {
  color: $w;
  margin: 0 0 10px 10px;
  font-size: small;
}

#part2_1 > a,
#part2_2 > a,
#part2_3 > a,
#part2_4 > a,
#part2_5 > a,
#part2_6 > a,
#part2_7 > a,
#part2_8 > a,
#part2_9 > a {
  @include part2a;
}

#part2_1 > p,
#part2_2 > p,
#part2_3 > p,
#part2_4 > p,
#part2_5 > p,
#part2_6 > p,
#part2_7 > p,
#part2_8 > p,
#part2_9 > p {
  @include part2p;
}

#title1 {/*  highlight 1  */
  margin: auto;
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 30px;
  justify-content: start;

  h3 {
    a {
      color: #f42;
      font-size: 27px;
    }
  }
}
